<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wonderpush.sdk">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Using these permissions ultimately is the choice of the developer, do not include them here
         or they'll get automatically merged into the final application. -->
    <!--<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />-->
    <!--<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />-->

    <application>

        <provider
            android:name="com.wonderpush.sdk.WonderPushInitProvider"
            android:authorities="${applicationId}.wonderpush.initprovider"
            android:exported="false"
            android:initOrder="90" />

        <service
            android:name="com.wonderpush.sdk.WonderPushResourcesService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false">
        </service>

        <!-- Required to properly handle deep links and notifications in foreground -->
        <service
            android:name="com.wonderpush.sdk.WonderPushService"
            android:enabled="true"
            android:exported="false"
            android:label="Push Notification service">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <data android:scheme="wonderpush" />
            </intent-filter>
        </service>

        <!-- Required for modular support of push services -->
        <service
            android:name="com.wonderpush.sdk.push.DiscoveryService"
            android:exported="false">
        </service>

        <provider
            android:authorities="${applicationId}.wonderpush.fileprovider"
            android:name="androidx.core.content.FileProvider"
            android:grantUriPermissions="true"
            android:exported="false">
            <grant-uri-permission android:pathPrefix="" />
            <path-permission android:pathPrefix="" />
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/wp_file_provider_paths" />
        </provider>

        <receiver android:name="com.wonderpush.sdk.ConfigurationChangedReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <action android:name="android.intent.action.LOCALE_CHANGED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
                <action android:name="android.app.action.APP_BLOCK_STATE_CHANGED" />
                <action android:name="android.app.action.NOTIFICATION_CHANNEL_BLOCK_STATE_CHANGED" />
                <action android:name="android.app.action.NOTIFICATION_CHANNEL_GROUP_BLOCK_STATE_CHANGED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
