<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wonderpush.sdk">

    <!-- Using these permissions ultimately is the choice of the developer, do not include them here
         or they'll get automatically merged into the final application. -->
    <!--<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />-->
    <!--<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />-->

    <application>

        <!-- Permits the SDK to initialize itself whenever needed, without need for your application to launch -->
        <meta-data
            android:name="wonderpushInitializerClass"
            android:value="${wonderpushGradleApplicationId}.WonderPushInitializerImpl" />

        <service
            android:name="com.wonderpush.sdk.WonderPushFcmMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name="com.wonderpush.sdk.WonderPushNotificationResourceFetcherAndDisplayerJobIntentService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false">
        </service>

        <!-- Required to properly handle deep links and notifications in foreground -->
        <service
            android:name="com.wonderpush.sdk.WonderPushService"
            android:enabled="true"
            android:exported="false"
            android:label="Push Notification service">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <data android:scheme="wonderpush" />
            </intent-filter>
        </service>

        <provider
            android:authorities="${wonderpushGradleApplicationId}.wonderpush.fileprovider"
            android:name="android.support.v4.content.FileProvider"
            android:grantUriPermissions="true"
            android:exported="false">
            <grant-uri-permission android:pathPrefix="" />
            <path-permission android:pathPrefix="" />
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/wp_file_provider_paths" />
        </provider>

    </application>

</manifest>
